<div class='sign-up-page'>
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class='form-label'><%= f.label :email %></div>
    <div class='form-input'><%= f.email_field :email, :autofocus => true %></div>

    <div class='form-label'><%= f.label :password %></div>
    <div class='form-input'><%= f.password_field :password %></div>

    <div class='form-label'><%= f.label :password_confirmation %></div>
    <div class='form-input'><%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up", :class => 'submit-button' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
