<div class="boobs">
  <table>
    <tr>
      <td>
        <%= form_for @new_punch do |f| %>
          <%= f.hidden_field :boob, :value => 'left' %>
          <%= f.submit "PUNCH LEFT", :class => "submit" %>
        <% end %>
      <td>
        <%= form_for @new_punch do |f| %>
          <%= f.hidden_field :boob, :value => 'right' %>
          <%= f.submit "PUNCH RIGHT", :class => "submit" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="punch-card" id="left">
        <% if @left_punch %>
          <%= @left_punch.milkpunch.strftime('%b %e, %l:%M %p') %>
        <% end %>
      </td>
      <td class="punch-card" id="right">
        <% if @right_punch %>
          <%= @right_punch.milkpunch.strftime('%b %e, %l:%M %p') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form_for @new_punch do |f| %>
          <%= f.hidden_field :boob, :value => 'bottle' %>
          <%= f.submit "BOTTLE PUNCH", :class => "bottle" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="punch-card" id="bottle">
      <% if @bottle_punch %>
          <%= @bottle_punch.milkpunch.strftime('%b %e, %l:%M %p') %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<script>
function setBackground() {
  var left = new Date(document.getElementById("left").innerHTML);
  var right = new Date(document.getElementById("right").innerHTML);
  var bottle = new Date(document.getElementById("bottle").innerHTML);
  var times = [left, right, bottle];
  var maxDate = new Date(Math.max.apply(null,times));
  if (String(maxDate) == String(left))
    {document.body.style.background="#9F90D0";}
  else if (String(maxDate) == String(right))
    {document.body.style.background="#9D1309";}
  else
    {document.body.style.background="#05B8CC";}
  };
  window.onload = function() {
    setBackground();
  };
</script>
