<table class='table-fill'>
  <thead>
    <tr class='table-fill'>
      <th class="text-left">HOUR</th>
      <th class="text-left">LEFT</th>
      <th class="text-left">RIGHT</th>
      <th class="text-left">BOTTLE</th>
      <th class="text-left">MEDS</th>
    </tr>
  </thead>
  <% @punches_today_hash.keys.each do |hour| %>
    <% punches = @punches_today_hash[hour] %>
    <% left = punches['left'] %>
    <% right = punches['right'] %>
    <% bottle = punches['bottle'] %>
    <% meds = punches['meds'] %>
    <tr class='table-fill'>
      <td class="text-left" id=<%= "hour-#{hour}" %>><%= hour %></td>
      <td class="text-left" id=<%= "left-#{hour}" %>><%= left.map{|p| p.milkpunch.min }.join(', ') unless left.blank? %></td>
      <td class="text-left" id=<%= "right-#{hour}" %>><%= right.map{|p| p.milkpunch.min }.join(', ') unless right.blank? %></td>
      <td class="text-left" id=<%= "bottle-#{hour}" %>><%= bottle.map{|p| p.milkpunch.min }.join(', ') unless bottle.blank? %></td>
      <td class="text-left" id=<%= "meds-#{hour}" %>><%= meds.map{|p| p.milkpunch.min }.join(', ') unless meds.blank? %></td>
    </tr>
  <% end %>
  <tr class='table-fill'>
    <% left = @punches_today['left'] %>
    <% right = @punches_today['right'] %>
    <% bottle = @punches_today['bottle'] %>
    <% meds = @punches_today['meds'] %>
    <td class="text-left" ></td>
    <td class="text-left" ><%= left.present? ? left.count : 0 %></td>
    <td class="text-left" ><%= right.present? ? right.count : 0 %></td>
    <td class="text-left" ><%= bottle.present? ? bottle.count : 0 %></td>
    <td class="text-left" ><%= meds.present? ? meds.count : 0 %></td>
  </tr>
</table>

