<!DOCTYPE html>
<html>
<head>
  <title>MILKPUNCH</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <div class='header-bar'>
    <%= current_user.email %>
    <%= link_to 'HOME', milkpunches_path, :class => 'articles-button' %>
    <%= link_to 'STATS', stats_path, :class => 'articles-button' %>
    <%= link_to 'BORED?', articles_path, :class => 'articles-button' %>
    <%= link_to 'LOG OUT', destroy_user_session_path, :method => :delete, :class => 'articles-button' %>
  </div>
<% end %>

<! DEVISE FLASH MESSAGES... CLEAN UP LATER >
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

